
<h2>Announcements</h2>

<ul>
  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement saveAnnouncement="saveAnnouncement"}}

{{#link-to 'index'}}Return to Home{{/link-to}}
